
body {
    /* background-image: url(https://images.pexels.com/photos/440731/pexels-photo-440731.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    
}
.card {
    background-image: url(https://images.pexels.com/photos/1509607/pexels-photo-1509607.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    width:50%;
    height: 500px;
    border: 1px solid green;
    align-items: center;
    justify-content: center;
    text-align: center;
   

}